.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  background-image: url("./assets/backg.jpg");
  
}
.controls{
  display: flex;
  flex-direction: column;
}

.more{
    border-width: 15px; 
  border-style: solid;
  border-image: url("./assets/border.jpg") 20% round;
}

.border{
  border-width: 15px; 
  border-style: solid;
  border-image: url("./assets/border.jpg") 20% round;
}